.terms_main {
    font-family: 'Red Hat Display', sans-serif;
    padding: 30px 0;
    background-color: #f2f7f8;
    overflow-x: hidden;
}

.terms_main h1 {
    font-size: 50px;
    color: #17325a;
    font-weight: 300;
    text-align: center;
}

.terms_main h1 span {
    font-weight: bold;
}

.card_bg {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    padding: 0 !important;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card_img {
    height: 100%;
    object-fit: cover;
}

.card_text {
    padding: 20px;
}

.card_text h5 {
    color: #17325a;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.card_text p {
    font-family: 'Calibri';
}

@media (max-width: 767px) {
    .terms_main h1{
        font-size: 30px;
    }

    .card_img{
        height: 100%;
        max-height: none;
        max-width: 133px;
    }

    .card_text p{
        font-size: 14px;
    }

    .card_text h5{
        font-size: 17px;
    }
}