.navbar-brand img{
    width: 100%;
    max-width: 300px;
}

.navbar{
    padding: 20px 0;
}

.header_phone{
    display: flex !important;
    align-items: flex-end !important;
}

.header_phone img{
    margin-right: 10px;
    width: 16px;
    color: #c52a2c;
    margin-bottom: 2px;
}

.email-icon{
    font-size: 22px !important;
}

.header_phone span{
    font-size: 12px;
}

.header_phone p{
    color: #000;
    font-weight: 600;
}

.nav-link{
    margin-right: 30px;
}

@media (max-width: 767px) {
    .navbar-brand img{
        max-width: 200px;
    }
}