@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri-Bold.woff2') format('woff2'),
        url('./fonts/Calibri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri-LightItalic.woff2') format('woff2'),
        url('./fonts/Calibri-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri.woff2') format('woff2'),
        url('./fonts/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri-BoldItalic.woff2') format('woff2'),
        url('./fonts/Calibri-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri-Light.woff2') format('woff2'),
        url('./fonts/Calibri-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('./fonts/Calibri-Italic.woff2') format('woff2'),
        url('./fonts/Calibri-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Calibri';
}

p, h4{
    margin-bottom: 0;
}

img{
    max-width: 100%;
}

.loader-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #c52a2c;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0%  { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }